#tx_multishop_admin_newheader_wrapper { position:relative; margin-top:50px; }

#tx_multishop_admin_header_wrapper { position:fixed; left:0; top:0; min-width:990px; width:100%; font-size:14px; line-height:20px; font-family:"Open Sans", Arial, Helvetica, sans-serif; text-align:left; margin:0; padding:0; z-index:10004; }
#tx_multishop_admin_header_wrapper #tx_multishop_admin_header_bg { height:38px; background:#000; box-shadow:0 0 10px rgba(0,0,0,.8); }
#tx_multishop_admin_header_wrapper ul { margin:0; padding:0; list-style:none; }
#tx_multishop_admin_header_wrapper ul li { background:none; margin:0; padding:0; }
#tx_multishop_admin_header_wrapper ul li a,
#tx_multishop_admin_header_wrapper ul li span { white-space:normal; }
#tx_multishop_admin_header_wrapper ul li a:hover,
#tx_multishop_admin_header_wrapper ul li a:focus { background:none; text-decoration:none; }
#tx_multishop_admin_header_wrapper a { text-decoration:none !important; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header { line-height:18px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li { position:relative; float:left; border-right:1px solid rgba(255,255,255,.3); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_has_subs:before { position:absolute; right:10px; top:16px; border-top:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; transition:opacity .25s; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs:before { position:absolute; right:10px; top:12px; border-left:5px solid #cdcdcd; border-top:5px solid transparent; border-bottom:5px solid transparent; content:""; transition:opacity .25s; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs:hover:before { opacity:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_user > div > a { position:relative; display:block; font-size:14px; line-height:38px; font-family:"Open Sans", Arial, Helvetica, sans-serif; color:#fff; padding:0 15px; z-index:3; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_user > div > a { text-transform:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_user { border-left:1px solid rgba(255,255,255,.3); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_has_subs > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_has_subs > span { padding-right:25px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > a > .fa,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > span > .fa { float:left; width:21px; line-height:18px; margin-bottom:2px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > a > .fa,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > span > .fa,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_user > div > a > .fa { float:left; width:21px; line-height:38px; margin-bottom:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_logo > a { line-height:0; padding:1px 7px 1px 5px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_logo > a > span { display:block; width:128px; height:36px; background:url(../admin_multishop/images/admin_logo_white.png) left top no-repeat; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div { line-height:38px; color:#fff; padding:0 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div > span > span { font-weight:bold; padding-right:5px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_user,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_search { float:right; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_search { border-right:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_search > * { float:left; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.open > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.open > span { background:#333; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul { width:250px; border:none; background:#333; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); z-index:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul { width:270px; border:none; background:#444; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > ul { display:block; left:250px; top:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #444; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul { position:absolute; left:-9999em; width:250px; border:none; background:#555; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > ul { display:block; left:270px; top:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #555; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul { position:absolute; left:-9999em; width:250px; border:none; background:#666; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > ul { display:block; left:250px; top:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li :first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #666; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }

ul#ms_admin_minimize { position:absolute; clear:left; float:left; width:102px; margin: 0; padding:0; list-style:none; }
ul#ms_admin_minimize li { background:none; margin:0; padding:0; list-style:none; }
ul#ms_admin_minimize li a { display:block; float:left; width:102px; height:24px; background:#000; font:11px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; margin:0; padding:5px 14px 0 30px; border-radius:0 0 7px 7px; box-shadow:0 3px 5px rgba(0,0,0,.2); }
ul#ms_admin_minimize li a:after { position:absolute; left:15px; top:10px; border-bottom:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; }
ul#ms_admin_minimize li a:hover { background:#000; text-decoration:underline; }
ul#ms_admin_minimize li a:focus { background:#000; text-decoration:none; }
ul#ms_admin_maximize { position:absolute; clear:left; float:left; width:102px; margin:-2px 0 0; padding:0; list-style:none; }
ul#ms_admin_maximize li { background:none; margin:0; padding:0; list-style:none; }
ul#ms_admin_maximize li a { display:block; float:left; width:102px; height:24px; background:#000; font:11px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; margin:0; padding:5px 14px 0 30px; border-radius:0 0 7px 7px; box-shadow:0 3px 5px rgba(0,0,0,.2); }
ul#ms_admin_maximize li a:after { position:absolute; left:15px; top:10px; border-top:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; }
ul#ms_admin_maximize li a:hover { background:#000; text-decoration:underline; }
ul#ms_admin_maximize li a:focus { background:#000; text-decoration:none; }

#tx_multishop_admin_footer_wrapper { position:fixed; left:0; right:0; bottom:0; height:38px; background:#000; font-size:14px; line-height:20px; font-family:"Open Sans", Arial, Helvetica, sans-serif; text-align:left; margin:0; padding:0; box-shadow:0 0 10px rgba(0,0,0,.8); z-index:10004; }

/* bootstrap overrule */
.dropdown-backdrop { display:none; }

.table { background:#fff; }