<!-- ###TEMPLATE### begin -->
<table class="border" id="msOrderDetailsTable" cellpadding="0" cellspacing="0" border="1" width="100%" style="border-width: 1px; border-color:#cdcdcd; border-spacing: 0px; border-style: none; border-collapse: collapse;margin:0 0 10px;">
  <!-- ###ITEMS_HEADER_WRAPPER### begin -->
  <tr class="msOrderDetailsHeading">
    <th width="5%" style="font-size:12px;line-height:16px;font-family:Arial;background:#666; color:#fff; border:1px solid #666; padding:5px 10px;">&nbsp;</th>
    <th width="79%" align="left" style="font-size:12px;line-height:16px;font-family:Arial;background:#666; color:#fff; border:1px solid #666; padding:5px 10px;">###HEADING_PRODUCTS_NAME###</th>
    <th width="8%" align="right" style="font-size:12px;line-height:16px;font-family:Arial;background:#666; color:#fff; border:1px solid #666; padding:5px 10px;">###HEADING_QUANTITY###</th>
    <th width="8%" align="right" style="font-size:12px;line-height:16px;font-family:Arial;background:#666; color:#fff; border:1px solid #666; padding:5px 10px;">###HEADING_TOTAL###</th>
  </tr>
  <!-- ###ITEMS_HEADER_WRAPPER### end -->
  <!-- ###ITEMS_WRAPPER### begin -->
  <tr class="###ITEM_CLASS###">
    <td align="center" valign="top" style="font-size:12px;line-height:16px;font-family:Arial;padding:5px 10px;">###ITEM_IMAGE###</td>
    <td align="left" valign="top" style="font-size:12px;line-height:16px;font-family:Arial;padding:5px 10px;">###ITEM_NAME###</td>
    <td align="right" valign="top" style="font-size:12px;line-height:16px;font-family:Arial;padding:5px 10px;white-space:nowrap;">###ITEM_QUANTITY###</td>
    <td align="right" valign="top" style="font-size:12px;line-height:16px;font-family:Arial;padding:5px 10px;white-space:nowrap;">###ITEM_TOTAL###</td>
  </tr>
    <!-- ###ITEMS_WRAPPER### end -->
</table>
<br>
<table id="msOrderDetailsSubTotalTable" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse;">
<!-- ###DISCOUNT_WRAPPER### begin -->
<tr>
  <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###DISCOUNT_LABEL###</td>
  <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###DISCOUNT###</td>
</tr>
<!-- ###DISCOUNT_WRAPPER### end -->
<!-- ###NEWSUBTOTAL_WRAPPER### begin -->
<tr>
  <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PRODUCTS_NEWSUB_TOTAL_PRICE_LABEL###</td>
  <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PRODUCTS_NEWTOTAL_PRICE###</td>
</tr>
<!-- ###NEWSUBTOTAL_WRAPPER### end -->
<!-- ###SHIPPING_COSTS_WRAPPER### begin -->
<tr>
  <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###SHIPPING_COSTS_INCLUDING_VAT_LABEL###</td>
  <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###SHIPPING_COSTS_INCLUDING_VAT###</td>
</tr>
<!-- ###SHIPPING_COSTS_WRAPPER### end -->
<!-- ###PAYMENT_COSTS_WRAPPER### begin -->
<tr>
  <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PAYMENT_COSTS_INCLUDING_VAT_LABEL###</td>
  <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PAYMENT_COSTS_INCLUDING_VAT###</td>
</tr>
<!-- ###PAYMENT_COSTS_WRAPPER### end -->
<tr>
<td colspan="2" style="padding:0;"><hr style="height:1px; border:none; background:#cdcdcd;" /></td>
</tr>
<!-- ###GRAND_TOTAL_WRAPPER### begin -->
<tr>
  <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###GRAND_TOTAL_COSTS_LABEL###</td>
  <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###GRAND_TOTAL_COSTS###</td>
</tr>
<!-- ###GRAND_TOTAL_WRAPPER### end -->
<!-- ###TAX_COSTS_WRAPPER### begin -->
<tr>
  <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###INCLUDED_TAX_RATE_LABEL###</td>
  <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###TAX_COSTS###</td>
</tr>
<!-- ###TAX_COSTS_WRAPPER### end -->
</table>
<br>
<!-- ###TEMPLATE### end -->